<div class="col-md-12">
    <div class="card card-container">

        <form *ngIf="isAuthenticated && !passwordChanged"
              (ngSubmit)="ngForm.form.valid && submitForm()"
              #ngForm="ngForm">
            <div class="form-group">
                <label i18n="@@change-password-password">
                    Password
                </label>
                <div class="input-group">
                    <input [type]="passwordDisplayed ? 'text' : 'password'"
                           class="form-control"
                           name="password"
                           [(ngModel)]="form.password"
                           required
                           minlength="8"
                           #password="ngModel"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text icon-display-password">
                            <em class="fa" [ngClass]="{'fa-eye': passwordDisplayed, 'fa-eye-slash': !passwordDisplayed}"
                                (click)="togglePasswordDisplayed()"></em>
                        </span>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="ngForm.submitted && password.invalid">
                    <div *ngIf="password.errors.required" i18n="@@change-password-error-password-required">
                        Password is required
                    </div>
                    <div *ngIf="password.errors.minlength" i18n="@@change-password-error-password-minlength">
                        Password must be at least 8 characters
                    </div>
                </div>
                <div class="alert alert-danger"
                     *ngIf="graphqlErrorExtensions && graphqlErrorExtensions.exceptionName === 'BadCredentialsException'"
                     i18n="@@change-password-error-password-incorrect">
                    Password is incorrect
                </div>
            </div>

            <div class="form-group">
                <label class="label-new-password" i18n="@@change-password-new-password">
                    New password
                </label>
                <div class="input-group">
                    <input [type]="newPasswordDisplayed ? 'text' : 'password'"
                           class="form-control"
                           name="new-password"
                           [(ngModel)]="form.newPassword"
                           required
                           minlength="8"
                           #newPassword="ngModel"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text icon-display-new-password">
                            <em class="fa"
                                [ngClass]="{'fa-eye': newPasswordDisplayed, 'fa-eye-slash': !newPasswordDisplayed}"
                                (click)="toggleNewPasswordDisplayed()"></em>
                        </span>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="ngForm.submitted && newPassword.invalid">
                    <div *ngIf="newPassword.errors.required" i18n="@@change-password-error-new-password-required">
                        New password is required
                    </div>
                    <div *ngIf="newPassword.errors.minlength" i18n="@@change-password-error-new-password-minlength">
                        New password must be at least 8 characters
                    </div>
                </div>
                <div class="alert alert-danger"
                     *ngIf="graphqlErrorExtensions && graphqlErrorExtensions.exceptionName === 'IncorrectSizeException'"
                     i18n="@@change-password-error-new-password-incorrect-size">
                    Password size must be between {{graphqlErrorExtensions.min}} and {{graphqlErrorExtensions.max}}
                    characters
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block button-change-password" i18n="@@change-password-change-password">
                    Change password
                </button>
            </div>
        </form>

        <div class="alert alert-success"
             *ngIf="passwordChanged"
             i18n="@@change-password-success">
            Password changed with success
        </div>
        <div class="alert alert-danger alert-passwords-are-same"
             *ngIf="graphqlErrorExtensions && graphqlErrorExtensions.exceptionName === 'SameFieldsException'"
             i18n="@@change-password-error-passwords-same">
            Passwords are same
        </div>

    </div>
</div>
