.horizontal-gutter {
  margin: 6px;
}

#gallery-preview {
  text-align: center;
}

#gallery-preview-chevron-left {
  position: absolute;
  top: 50%;
  left: 10px;
}

#gallery-preview-chevron-right {
  position: absolute;
  top: 50%;
  right: 10px;
}
