@import "src/variables";

#gallery-wait-spinner {
    text-align: center;
}

.horizontal-gutter {
    text-align: center;
    margin: 6px;
}

#gallery-preview {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.gallery-preview-full-width {
    width: 100%;
}

.gallery-preview-full-height {
    height: 100%;
}

.gallery-preview-thumbnail-full-width {
    width: 100%;
}

#gallery-preview-chevron-left {
    position: absolute;
    top: 50%;
    left: 10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px 11px 8px 9px;
    background: white;
}

#gallery-preview-chevron-right {
    position: absolute;
    top: 50%;
    right: 10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px 9px 8px 11px;
    background: white;
}

#gallery-preview-delete-icon {
  cursor: pointer
}

#gallery-preview-delete {
    position: absolute;
    bottom: 3px;
    right: 10px;

    color: red;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px 7px 8px 7px;
    background: white;
}
