<div id="gallery-wait-spinner" *ngIf="displayWaitSpinner">
    <img src="assets/wait-spinner.svg">
</div>
<div id="gallery-preview"
     *ngIf="previewImages.length !== 0"
     (window:resize)="onGalleryPreviewResize()"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()"
     [style.height.px]="galleryPreviewHeight"
     [style.width.px]="galleryPreviewWidth">
    <a *ngIf="previewImageIndex > 0" routerLink="/gallery/{{ previewImages[previewImageIndex - 1 ].id }}">
        <em id="gallery-preview-chevron-left" class="fa fa-chevron-left"></em>
    </a>
    <img *ngIf="previewImages[previewImageIndex].previewImageLoading" src='assets/wait-spinner.svg'>
    <img [hidden]="!previewImages[previewImageIndex].previewImageLoaded"
         #img (load)="onPreviewImageLoaded(img, previewImages[previewImageIndex])"
         [className]="previewImageClassName"
         [src]='previewImages[previewImageIndex].previewUrlPath | secure | async'
         [alt]="previewImages[previewImageIndex].name">
    <a *ngIf="previewImageIndex < previewImages.length - 1"
       routerLink="/gallery/{{ previewImages[previewImageIndex + 1 ].id }}">
        <em id="gallery-preview-chevron-right" class="fa fa-chevron-right"></em>
    </a>

    <span id="gallery-preview-delete-icon" *ngIf="isAdministrator"
          (click)="openDeleteModal(previewImages[previewImageIndex])">
        <em id="gallery-preview-delete" class="fa fa-trash-alt"></em>
        <span id="gallery-preview-delete-success" style="display: none" i18n="@@gallery-preview-delete-success">Image deleted with success</span>
        <span id="gallery-preview-delete-error" style="display: none" i18n="@@gallery-preview-delete-error">Impossible to delete image</span>
    </span>

    <!-- Preload previous and next preview images -->
    <img hidden *ngIf="previewImageIndex > 0"
         [src]='previewImages[previewImageIndex - 1 ].previewUrlPath | secure | async'>
    <img hidden *ngIf="previewImageIndex < previewImages.length - 1"
         [src]='previewImages[previewImageIndex + 1 ].previewUrlPath | secure | async'>
</div>
<div *ngIf="previewImages.length === 0" class="horizontal-gutter">
    <mat-grid-list [cols]="breakpoint" rowHeight="1:1" gutterSize="5px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor='let fse of fileSystemElements'>
            <a routerLink="/gallery/{{ fse.id }}" *ngIf="fse.type === 'Directory'" class="gallery-preview-thumbnail-full-width">
                <img *ngIf="fse.thumbnailUrl !== null && fse.thumbnailImageLoading" src='assets/wait-spinner.svg'>
                <img *ngIf="fse.thumbnailUrl !== null" [hidden]="!fse.thumbnailImageLoaded" class="gallery-preview-thumbnail-full-width"
                     (load)="onThumbnailImageLoaded(fse)" [src]='fse.thumbnailUrl | secure | async' [alt]="fse.name">
                <svg *ngIf="fse.thumbnailUrl === null" xmlns="http://www.w3.org/2000/svg" [attr.width]="THUMBNAIL_SIZE"
                     [attr.height]="THUMBNAIL_SIZE"></svg>
                <mat-grid-tile-footer>
                    {{ fse.name }}
                </mat-grid-tile-footer>
            </a>
            <a routerLink="/gallery/{{ fse.id }}" *ngIf="fse.type === 'Image'" class="gallery-preview-thumbnail-full-width">
                <img *ngIf="fse.thumbnailImageLoading" src='assets/wait-spinner.svg'>
                <app-lazy-loading>
                    <img *ngIf
                         [hidden]="!fse.thumbnailImageLoaded" (load)="onThumbnailImageLoaded(fse)" class="gallery-preview-thumbnail-full-width"
                         [src]='fse.thumbnailUrl | secure | async' [alt]="fse.name">
                </app-lazy-loading>
                <mat-grid-tile-footer *ngIf="addTakenDateOnThumbnails && fse.takenAt">
                    {{ fse.takenAt }}
                </mat-grid-tile-footer>
                <mat-grid-tile-footer *ngIf="addTakenDateOnThumbnails && !fse.takenAt" i18n="@@navigation-bar-info-taken-datetime-unavailable">
                    Unavailable date
                </mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<app-toast-notification></app-toast-notification>

