<div *ngIf="previewImages.length === 0" class="horizontal-gutter">
    <mat-grid-list [cols]="breakpoint" rowHeight="1:1" gutterSize="5px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor='let fse of fileSystemElements'>
            <a routerLink="/gallery/{{ fse.id }}" *ngIf="fse.type === 'Directory'">
                <img *ngIf="fse.thumbnailUrl !== null" [src]='fse.thumbnailUrl | secure | async' [alt]="fse.name">
                <svg *ngIf="fse.thumbnailUrl === null" xmlns="http://www.w3.org/2000/svg" [attr.width]="THUMBNAIL_SIZE" [attr.height]="THUMBNAIL_SIZE"></svg>
                <mat-grid-tile-footer>
                    {{ fse.name }}
                </mat-grid-tile-footer>
            </a>
            <a routerLink="/gallery/{{ fse.id }}" *ngIf="fse.type === 'Image'">
                <img [src]='fse.thumbnailUrl | secure | async' [alt]="fse.name">
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div id="gallery-preview"
     *ngIf="previewImages.length !== 0"
     (window:resize)="onGalleryPreviewResize()"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()"
     [style.height.px]="galleryPreviewHeight"
     [style.width.px]="galleryPreviewWidth">
    <a *ngIf="previewImageIndex > 0" routerLink="/gallery/{{ previewImages[previewImageIndex - 1 ].id }}">
        <em id="gallery-preview-chevron-left" class="fa fa-chevron-left"></em>
    </a>
    <img id="gallery-preview-image"
         [src]='previewImages[previewImageIndex].previewUrlPath | secure | async'
         [alt]="previewImages[previewImageIndex].name">
    <a *ngIf="previewImageIndex < previewImages.length - 1"
       routerLink="/gallery/{{ previewImages[previewImageIndex + 1 ].id }}">
        <em id="gallery-preview-chevron-right" class="fa fa-chevron-right"></em>
    </a>
</div>
