<div class="horizontal-gutter">
    <mat-grid-list [cols]="breakpoint" rowHeight="1:1" gutterSize="5px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor='let fse of fileSystemElements'>
            <a routerLink="/gallery/{{ fse.id }}" *ngIf="fse.type === 'Directory'">
                <img *ngIf="fse.thumbnailUrl !== null" [src]='fse.thumbnailUrl | secure | async' [alt]="fse.name">
                <svg *ngIf="fse.thumbnailUrl === null" xmlns="http://www.w3.org/2000/svg" width="200" height="200"/>
                <mat-grid-tile-footer>
                    {{ fse.name }}
                </mat-grid-tile-footer>
            </a>
            <a *ngIf="fse.type === 'Image'">
                <img [src]='fse.thumbnailUrl | secure | async' [alt]="fse.name">
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
