<div id="app">
  <nav id="navbar" class="navbar navbar-expand navbar-dark bg-primary">
    <a *ngIf="isAuthenticated && isGallery" routerLink="/gallery" class="gallery-navigation">
      <em class="fa fa-home"></em>
    </a>
    <span *ngFor='let directory of directories'>
      <span *ngIf="isAuthenticated && isGallery">&nbsp;</span>
      <span *ngIf="isAuthenticated && isGallery" class="gallery-navigation">&gt;</span>
      <a *ngIf="isAuthenticated && isGallery" routerLink="/gallery{{ directory.id }}" class="gallery-navigation">
        {{ directory.name }}
      </a>
    </span>
    <span *ngIf="isAuthenticated && isGallery && imageName">&nbsp;</span>
    <span *ngIf="isAuthenticated && isGallery && imageName" class="gallery-navigation">&gt;</span>
    <span *ngIf="isAuthenticated && isGallery && imageName">&nbsp;</span>
    <span *ngIf="isAuthenticated && isGallery && imageName" class="gallery-navigation">
      {{ imageName }}
    </span>
    <ul class="navbar-nav ml-auto" *ngIf="!isAuthenticated">
      <li class="nav-item">
        <a href="login" class="nav-link" routerLink="login" i18n="@@navbar-login">
          Login
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
      <li class="nav-item">
        <a href="login" class="nav-link" (click)="logout()">
          <em class="fa fa-power-off"></em>
        </a>
      </li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
