<div id="app">
    <nav id="navbar" class="navbar navbar-expand navbar-dark bg-primary">
        <span *ngIf="isAuthenticated && isGallery" class="gallery-navigation">
            <em *ngIf="directories.length == 0" class="fa fa-home"></em>
            <a *ngIf="directories.length == 1 && !imageName" routerLink="/gallery">
                <em class="fa fa-level-up-alt fa-flip-horizontal"></em>
            </a>
            <a *ngIf="directories.length > 1 && !imageName" routerLink="/gallery{{ directories[directories.length - 2].id }}">
                <em class="fa fa-level-up-alt fa-flip-horizontal"></em>
            </a>
            <a *ngIf="imageName" routerLink="/gallery{{ directories[directories.length - 1].id }}">
                <em class="fa fa-level-up-alt fa-flip-horizontal"></em>
            </a>
        </span>
        <span *ngIf="isAuthenticated && isGallery" class="gallery-navigation mx-auto ">
            <span *ngIf="!imageName && directories.length >= 1">
                {{ directories[directories.length - 1].name }}
            </span>
            <a *ngIf="imageName" [downloadFile]="imageUrlPath">
                {{ imageName }}
                <img style="display: none" src="../assets/wait-spinner.svg">
            </a>
        </span>
        <ul class="navbar-nav" *ngIf="isAuthenticated">
            <li class="nav-item">
                <a href="login" class="nav-link" (click)="logout()">
                    <em class="fa fa-power-off"></em>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isAuthenticated">
            <li class="nav-item">
                <a href="login" class="nav-link" routerLink="login">
                    <em class="fa fa-sign-in-alt"></em>
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
