@import "src/variables";

nav .fa {
    color: $navBarTextColor;
}

.gallery-navigation a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#breadcrumb-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: $navBarTextColor;
    padding: 0;
}

#breadcrumb-content {
    display: none;
    position: absolute;
    background-color: rgba($primary, 0.9);
    z-index: 1;
}

#breadcrumb-content a {
    display: block;
    padding: 8px 15px;
    color: $navBarTextColor;
    text-align: center;
}

#user-menu-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: $navBarTextColor;
}

#user-menu-content {
    display: none;
    position: absolute;
    background-color: rgba($primary, 0.9);
    z-index: 1;
    margin-top: 48px;
}

#user-menu-content a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: $navBarTextColor;
    text-align: center;
}
