@import "src/variables";

nav .fa {
    color: $navBarTextColor;
}

.gallery-navigation a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#info-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: $navBarTextColor;
    padding: 0;
}

#info-content {
    display: none;
    position: absolute;
    background-color: $primary90;
}

#info-content > span {
    display: block;
    padding: 2px 8px;
    color: $navBarTextColor;
    text-align: center;
}

#info-content-taken-datetime-icon {
    margin-right: 6px;
}

#breadcrumb-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: $navBarTextColor;
    padding: 0;
    margin-left: 8px;
}

#breadcrumb-content {
    display: none;
    position: absolute;
    background-color: $primary90;
    z-index: 1;
}

#breadcrumb-content a {
    display: block;
    padding: 8px 15px;
    color: $navBarTextColor;
    text-align: center;
}

#download-icon {
    margin-left: 8px;
}

#user-menu-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: $navBarTextColor;
}

#user-menu-content {
    display: none;
    position: absolute;
    background-color: $primary90;
    z-index: 1;
    margin-top: 48px;
}

#user-menu-content a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: $navBarTextColor;
    text-align: center;
}
