<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isAuthenticated"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email" i18n="@@login-email">
          Email
        </label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          maxlength="50"
          #email="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required" i18n="@@login-email-errors-required">
            Email is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" i18n="@@login-password">
          Password
        </label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="8"
          maxlength="64"
          #password="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required" i18n="@@login-password-errors-required">
            Password is required
          </div>
          <div *ngIf="password.errors.minlength" i18n="@@login-password-errors-minlength">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" i18n="@@login-login">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
          i18n="@@login-failed"
        >
          Login failed
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isAuthenticated" i18n="@@login-authenticated">
      You are authenticated
    </div>
  </div>
</div>
